# /webapps/erd-ecosystem/.devtools/.github/workflows/release-on-tag.yaml
name: GitHub Release on Tag

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Determine Prerelease
        id: check_prerelease
        run: |
          if [[ "${{ github.ref_name }}" == *"-rc"* ]]; then
            echo "is_prerelease=true" >> $GITHUB_OUTPUT
          else
            echo "is_prerelease=false" >> $GITHUB_OUTPUT
          fi

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          prerelease: ${{ steps.check_prerelease.outputs.is_prerelease }}
          generate_release_notes: true